  table {
      width: 100%;

      tr {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;
          border-radius: .3rem;

          td {
              flex: 1;
              padding: 1rem 0;
          }

          th {
              text-align: left;
              flex: 1;
              padding: 1.5rem 0;
          }
      }

      tbody {
          tr {
              border-top: 1px solid #343240;
          }

          .selected {
              background-color: rgb(14, 13, 24);
          }
      }

  }