  table {
      width: 100%;

      tr {
          width: 100%;
          display: flex;
          justify-content: space-between;
          padding: 0 1rem;
          border-radius: .3rem;

          td {
              flex: 1;
              padding: 1rem 0;
          }

          th {
              text-align: left;
              flex: 1;
              padding: 1.5rem 0;
          }
      }

      tbody {
          width: 100%;

          tr {
              border-top: 1px solid #343240;
          }

          .selected {
              background-color: rgb(14, 13, 24);
          }
      }

      thead {

          font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
          text-transform: uppercase;
      }


      .actions {
          padding: 0;
          border-radius: 50rem;
          background-color: transparent;
          border: none;
          color: white;
          cursor: pointer;
          font-size: 1.5rem;
          margin-right: 2rem;
      }
  }